body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(rgb(51, 1, 53), rgb(104, 11, 99));
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    height: 40px;
    height: 90px;

}

#menu ul{
    margin:0;
    background-color: rgb(133, 95, 120);
    list-style: none;
    height:40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 10px 30px;
    display: inline-block;
    color: rgb(37, 4, 4);
    text-decoration: none;
}

#menu ul li a:hover{
    color: white;
}
.banner img{
    width: 100%;
    height: 410px;
}
p{
    text-align: center;
    
    font-size: 18px;
    color:black;
}

.rodape{
    width: 100%;
    height:40px;
    height: 90px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:rgb(39, 1, 34);
    
}
.logo{
    width:40px;
}

.form h1{
    text-align: center;

}

.form{
    margin: 20px;
}